
.food-list__card {
    width: 260px;
    overflow: hidden; /* чтобы картинка не вылезала за пределы карточки */
    text-align: center;
    background-color: #312F30;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.food-list__card:hover {
    transform: scale(1.03);
}

.food-list__img {
    width: 100%;
    height: 175px;
    object-fit: cover; /* чтобы картинка не искажалась */
}

.food-list__text-wrapper {
    padding: 30px 20px;
}

.food-list__title {
    min-height: 50px;
    font-size: 20px;
    margin-bottom: 13px;
}
.food-list__desc {
    font-size: 16px;
    opacity: 0.7;
    height: 70px;
}

.food-list__cart {
    display: flex;
    justify-content: center;
    gap:10px;
    align-items: center;
    margin-top: 15px;
}


.food-list__cart-btn {
    min-width: 50px;   /* Гарантирует минимальный размер */
    min-height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #F6762C;
    color: white;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.2s ease;
}



.food-list__cart-btn:hover {
    opacity: 0.8;
}

.food-list__cart-btn:active {
    transform: scale(0.95);
 
}